SCHOOL_NAME=# 학교의 이름
SCHOOL_REGION= # 학교의 지역 -- 종류 : SEOUL, INCHEON, BUSAN, GWANGJU, DAEJEON, DAEGU, SEJONG, ULSAN, GYEONGGI, KANGWON, CHUNGBUK, CHUNGNAM, GYEONGBUK, GYEONGNAM, JEONBUK, JEONNAM, JEJU;
INSTARGRAM_USERNAME= # 계정 사용자 이름
INSTARGRAM_PASSWORD= # 계정 비밀번호
OTP_SECRET= # 2단게 인증을 완료한 OTP Secret Key